* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
  font-size: 12px;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LoginPage {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPage__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('assets/bg.png');
  filter: blur(5px);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.Hotel__form {
  position: relative;
  z-index: 1;
  /* width: 409px; */
  border-radius: 10px;
  background-color: #fff;
  padding: 32px;
  /* h100% */
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.Header {
  padding: 0 15px;
}


.HomePage__grid {

  display: grid;
  grid-template-areas:
    'filter main'
    'fav main'
  ;
  grid-gap: 24px;
  grid-template-columns: minmax(360px, 360px) 664px;
  grid-template-rows: 410px 472px;
  /* grid-template-rows: 2fr 1fr; */
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 24px; */
  overflow: hidden;
}


@media (max-width: 992px) {
  .HomePage__grid {
    grid-template-areas:
      'filter '
      'main'
      'fav'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}



.HomePage__filter {
  grid-area: filter;
}

.HomePage__main {
  grid-area: main;
}

.HomePage__fav {
  grid-area: fav;
}

.HomePage__block {
  position: relative;
  z-index: 1;
  /* width: 409px; */
  border-radius: 10px;
  background-color: #fff;
  padding: 1.35rem;
  height: 100%;
}

.Main__header {
  font-size: 32px;
  font-weight: 600;
}

/* .item {
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  font-size: 0;
  color: transparent;
} */
/* 
.alice-carousel__stage-item.__active:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: solid 1px transparent;
  transition: border .8s;
}

.alice-carousel__stage-item.__target:after {
  border: solid 1px rgba(63, 81, 181, .8);
} */