body {
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424242;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LoginPage {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPage__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('assets/bg.png');
  filter: blur(5px);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.Hotel__form {
  position: relative;
  z-index: 1;
  /* width: 409px; */
  border-radius: 10px;
  background-color: #fff;
  padding: 32px;
  /* h100% */
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.Header {
  padding: 0 15px;
}

.HomePage {
  background-color: #E5E5E5;
  height: 100vh;
}

.HomePage__grid {

  display: grid;
  grid-template-areas:
    'filter main'
    'fav main'
  ;
  grid-gap: 24px;
  grid-template-columns: 360px 3fr;
  grid-template-rows: 1fr 1fr;
  /* grid-template-rows: 2fr 1fr; */
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 24px; */
}

.HomePage__filter {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  grid-area: filter;
}

.HomePage__main {
  grid-area: main;
  background-color: rgb(41, 47, 124);
}

.HomePage__fav {
  padding: 24px;
  grid-area: fav;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}